
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 *,
 *::after,
 *::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
    --full-white: #fff;
 }
 body,html{
    min-height:100%;
 }
 :root{
    --silent-white:#FFF7EA;
    --glossy-orange:#E77F00;
    --afaghan-tan:#844F0B;
    --authentic-white:#F9F9FB;
    --authentic-grey:#BBB7AD;
    --army-black:#181513;
    --cool-green:#DDFBE8;
    --pastal-champagne:#FAF0DC;
    --craystal-peak:#DEE6FB;
    --pippin:#FFDFDF;
    --ff-primary: 'poppins';

    --fs-400: 10px;
    --fs-500:12px;
    --fs-600:14px;
    --fs-700:22px;
    --fs-800:2em;

    --fw-200:200;
    --fw-400:400;
    --fw-500: 500;
    --fw-700: 700;
    --fw-600: 600;
    

    /*active selecter*/

    --mocccasin:#ffe2b5;

 }
 
 
 section[aria-hidden="true"]{
   display:none;
   z-index:-1;

   
 }
 body{
    min-height:100dvh;
    background-color:var(--full-white);
    display:flex;
    align-items: center;
    justify-content: center;
   
 }
 body::-webkit-scrollbar-thumb{
   background:var(--glossy-orange);
 }
 body::-webkit-scrollbar{
   background:var(--silent-white);
   width:.5rem;
 }
 .registration-section,
 .login-section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color:var(--authentic-white);
    width:500px;
    max-width: 90vw;
    border-radius:20px;
    font-family: var(--ff-primary);
    font-size: var(--fs-600);

 }
 .registration-section form,
 .login-section form{
    margin: 5px;
    height:100%;
    border:1px solid var(--authentic-grey);
    border-radius: 20px;
    overflow:hidden;
 }
 header{
    border-bottom:1px solid var(--authentic-grey);
    padding:20px 20px 0px 20px;
    position:relative;
    line-height:1.5;
 }
 .close-btn{
    position:absolute;
    top: 50%;
    transform:translateY(-50);
    right:20px;
    border:1px solid var(--authentic-grey);
    padding: 2px;
    border-radius:5px;
    cursor: pointer;
    @media(max-width:643){
      display:flex;
    }
 }
 header .heading{
    font-size: var(--fs 700);
    font-weight: var(--fw-600);

 }

 header p:nth-child(2){
    filter:opacity(.5);
 }

 label{
    position:relative;
    margin:20px 20px 5px 20px;
    padding:15px;
    outline: 1px solid var(--glossy-orange);
    justify-self:start;
    border-radius:10px;
    color: var(--glossy-orange);
    display:flex;
    justify-content:center;
    align-items: center;
    gap: .5rem;
    background: var(--full-white);
    cursor:pointer;
    
 }
 .logo-input{
    display:flex;
    align-items:center;
    @media(max-width:592px){
      flex-direction: column;
      align-items:start;
      & p[aria-hidden]{
         padding-inline-start:20px;
      }
       
    }
    
 }

 

 label .fa-upload{
    font-size: var(--fs-700);

 }
 p[aria-hidden] {
    
    color:green;
    & .fa-check{
        background:#5cb95c;
        color: var(--authentic);
        padding:3px;
        border-radius: 50%;
        width:20px;
        height:20px;
    }
    
    
 }

 .schoolName-role{
    
    display:grid;
    grid-template-columns: 70% 1fr;
    gap: 1rem;
    height: 4rem;
    margin:10px 20px 0 20px;
    @media(max-width:592px){
      grid-template-columns: 1fr;
      gap:10px;
      height:9rem;
    }
 }
 .school-name{
    
    display:flex;
    flex-direction: column;
    gap: .5rem;
 }
 .school-name input{
    flex-grow:1;
    border:1px solid var(--authentic-grey);
    border-radius:10px;
    background:none;
    outline:none;
    padding-inline: 1rem;
 }
 .school-name .school-name-title{
    font-weight: var(--fw-500);
 }
 .school-name.school--title{
    font-weight:var(--fw-500);
 }
 .role{
    display:flex;
    flex-direction:column;
    gap: .5rem;
 }
 .role .role-title{
    font-weight:var(--authentic-grey);

 }
 .role select {
    flex-grow:1;
    border:1px solid var(--authentic-grey);
    border-radius:10px;
    background:none;
    font-family:inherit;
    font-size: var(--fw-500);
    & option{
        font-family: var(--ff-primary);
    }
    outline:none;
 }
 .username{
    margin: 10px 20px 0 20px;
    height:4rem;
    display:flex;
    flex-direction:column;
    gap:-5rem;
    
 }
 .username input {
    flex-grow:1;
    border-radius: 10px;
    background: none;
    outline: none;
    border: 1px solid var(--authentic-grey);
    
 }
 .username .username-title{
    font-weight: var(--fw-500);
 }
 .email{
    margin:10px 20px 0 20px;
    display:flex;
    flex-direction: column;
    height: 4rem;
    gap:-5rem;

 }

 .email .email-title{
font-weight: var(--fw-500);
 }
 .email input {
    background:none;
    border-radius:10px;
    outline: none;
    border: 1px solid var(--aunthentic-grey);
    padding-inline:1rem;
    border: 1px solid var(--authentic-grey);
    height:5rem;
    
 }

 .passwd-confirm {
    margin:10px 20px 0 20px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    @media (max-width:685px){
      grid-template-columns: 1fr;
      gap:20px;


    }
 }
 .passwd{
    display:flex;
    flex-direction:column;
    height:4rem;
    gap:.3rem;
 }
 .passwd2{
margin:10px 20px 0 20px;

 }

 .passwd input {
    flex-grow:1;
    background:none;
    border:1px solid var(--authentic-grey);
    border-radius:10px;
    padding-inline:1rem;
    outline:none;
 }
 .passwd .passwd-title{
    font-weight: var(--fw-500);
 }
 .confirm {
    display:flex;
    flex-direction:column;
    height:4rem;
    gap: .3rem;
 }
 .confirm .confirm-title{
    font-weight: var(--fw-500);
 }
 .confirm input {
    flex-grow:1;
    background:none;
    border: 1px solid var(--authentic-grey);
    border-radius:10px;
    padding-inline: 1rem;
    outline:none;
 }

 .showpasswd{
    margin:0px 20px 0 20px;
    display:flex;
    gap: .5rem;
    height: 2rem;
    align-items: center;
    font-size: var(--fs-600);
     & span {
        opacity: .5;
     }
 }
 .showpasswd input {
    appearance:none;
    width:20px;
    height:20px;
    cursor:pointer;
    border: 1px solid var(--authentic-grey);
    border-radius:5px;
    position: relative;
    overflow:hidden; 
 }
 .showpasswd input::after {
    content:"\f00c";
    font-family: 'Font Awesome 7 Free';
    font-weight: var(--fw-700);
    font-size:14px;
    color: var(--full-white);
    width:100%;
    height:100%;
    display:none;
    justify-content:center;
    align-items: center;
    background: var(--afaghan-tan);

 }
 .showpasswd input:checked {
    border:none;
    &::after {
        display:flex;
    }
 }
.register-btn {
    margin:10px 20px 0 20px;
    width:calc(100% - 40px);
    height:2.5rem;
    border:none;
    outline:none;
    font-family: inherit;
    font-weight: var(--fw-600);
    background: var(--afaghan-tan); 
    color: var(--full-white); 
    font-size:16px;
    border-radius:10px;
    cursor: pointer;
    transition:.3s;
    

    
 }
 button .register-btn:hover{
    border:1px solid #84500b60;
    background: var(--full-time);
    color: var(--afghan-tan);
 }

 .shift {
    margin:10px 20px 20px 20px;
    color:var(--afghan-tan);
    text-align: center;

 }

 #shift-sec {
    text-decoration:none;
    text-transform: uppercase;
    color: var(--glossy-orange);
    font-weight:var(--fw-700);
    cursor:pointer;

 }

 @media (max-width:685px){
   .username,
   .email,
   .pass,
   .confirm{
      height:3.5rem;
   }
   .schoolname-role{
      height:8rem;
   }
   header{
      padding-bottom:10px;
   }
   header p:nth-child(2) {font-size:12px}
   
   p[aria-hidden]{
      font-size:12px;
   }
   .school-name-title,
   .role-title,
   .email-title,
   .passwd-title,
   .confirm-title
   {
      font-size:13px;

   }
   .showpasswd{
      font-size:12px;
   }
   button.register-btn{
font-size:14px;
height:2.2rem;
   }
 }
 .showpasswd input{
   width: 16px;
   height: 16px;
   &::after{
      font-size:12px;
   }
 }

 